<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="BidOpTime" value="16" /><!--the bid operation time cost / unit seconds-->
    <add key="TimeDiffer" value="15" /><!--time difference caused by pdt or pst (15 or 16)-->
    <add key="MoneyInputDistance" value="160" /><!--money input distance beside the place bid button-->
    <add key="ConfirmPosX" value="835" />
    <add key="ConfirmPosY" value="442" />
    <add key="WebTabPosY" value="10" /><!--web browser tab position Y-->
    <add key="WebTabWidth" value="180" />
    <add key="MaxFixedTabCount" value="6" /><!---->
    <add key="WebTabBegGap" value="0" /><!--web browser tab left start distance-->
    <add key="WebTabEndGap" value="178" /><!--web browser tab right end distance-->
    <add key="WebTabOverlappedWidth" value="10" />
    <add key="RefreshInterval" value="60000" /><!--refresh the page interval / unit milliseconds-->
    <add key="TipTime" value="5" /><!--tip time before the the item ends / unit minutes-->
  </appSettings>
</configuration>